.card {
  display: flex;
  margin: 20px auto;
  width: 100%;
  max-width: 800px;
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  background-color: #dae5ef;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 40%;
  height: auto;
}

.card-content {
  padding: 30px;
  color: black;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.card-description {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    width: 90%;
  }
  .card-image {
    width: 100%;
  }
}