.comments-section {
    margin: 0 auto;
}

.comment {
    margin-bottom: 15px;
}

.commentDisplayUsername{
    font-weight: bold;
}

.commentInputSection{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.commentSectionTitle{
    color: rgb(17, 95, 180);
}

.commentsListContainer{
    padding: 0;
    display: flex;
    flex-direction: column;
}

.singleCommentContainer{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 50%;
}

.singleCommentContainer p {
    padding: 0 10px;
}

@media (max-width: 768px) {
    .singleCommentContainer{
        width: 100%;
    }
}
