.comments-section {
    margin-top: 40px;
    padding-top: 32px;
    border-top: 2px solid #e0e0e0;;
}

.comment {
    margin-bottom: 15px;
}

.commentDisplayUsername{
    font-weight: bold;
}

.commentInputSection{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.commentSectionTitle{
    color: rgb(17, 95, 180);
}

.commentsListContainer{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.singleCommentContainer{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 50%;
}

.singleCommentContainer p {
    padding: 0 10px;
}

.submitComment {
    padding: 10px;
    width: 200px;
    margin: 20px auto;
    background-color: #115fb4;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .singleCommentContainer{
        width: 100%;
    }
}
