.trip-page {
  width: 85%;
  margin: 0 auto;
}

.trip-page h1 {
  text-align: center;
  margin: 20px;
  font-size: 6vh;
}

.main-image {
  height: 600px;
  background-size: cover;
  background-position: center;
}

.trip {
  margin: 20px 0;
}

.intro-text {
  color: #115fb4;
  font-size: large;
  margin: 0;
}

.trip-days {
  margin-top: 25px;
}

.trip-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.trip h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.trip-body {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.trip-description {
  width: 65%;
}

.trip-summary {
  width: 75%;
  padding: 0 20px 20px;
  text-align: center;
  border: 3px solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.trip-summary p {
  margin: 20px;
  font-size: 20px;
}

.trip-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 25%;
}

.trip-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip-detail {
  margin-bottom: 20px;
}

.trip-detail h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.comments {
  background-color: #f8f8f8;
}

@media (max-width: 768px) {
  .main-image {
    height: 250px;
  }

  .trip-rating {
    width: auto;
  }

  .trip-body {
    flex-direction: column;
  }

  .trip-description {
    width: 100%;
  }

  .trip-details {
    width: 100%;
    margin-top: 20px;
  }
}
